---
import NavBarLink from "./NavBarLink.astro";
---

<nav class="p-2 bg-gray-300 flex flex-col sm:flex-row gap-2">
  <NavBarLink href="/">Home</NavBarLink>
  <NavBarLink href="/posts">Posts</NavBarLink>
  <NavBarLink href="/gallery">Gallery</NavBarLink>
  <NavBarLink href="/about">About & Contact</NavBarLink>
</nav>
