---
import NavBar from "./NavBar.astro";
---

<header class="mb-4">
  <a class="inline-block text-azyrite-blue hover:underline" href="/">
    <h1 class="text-2xl">
      azyrite's rail blog
    </h1>
  </a>
  <p class="text-sm italic mb-2">photos and posts of NSW trains & infrastructure</p>
  <NavBar />
</header>
