---
import { getEntry } from "astro:content";

interface Props {
  tag: string;
  class?: string;
}
const { tag, class: classNames } = Astro.props;

const collTag = await getEntry("tags", tag);
if (!collTag) throw `Invalid tag "${tag}"`;
---

<div
  class={`${classNames ?? ""} ${collTag.data.themeColor ?? "bg-black"} p-1 rounded-md`}
>
  <a href={`/gallery/tag/${collTag.id}/1`} class="text-white text-center w-full inline-block">
    {collTag.id}
  </a>
</div>
