---
import PageHeader from "@/components/PageHeader.astro";

import "@/styles/global.css";

const { title } = Astro.props;

interface Props {
  title?: string;
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} |` : ""} azyrite's rail</title>
  </head>

  <body class="min-h-full min-w-full p-2 pb-0 bg-black/5">
    <PageHeader />
    <div class="m-4">
      <slot />
    </div>
  </body>
</html>
